# dataset
data/kitti
data/malaga
data/parking
data/data_exe7
!data/lausanne_center_nav/
data/lausanne_center_nav/image
!data/epfl_parking/
data/epfl_parking/image

# folders
archive/
eval/
eval_notebook/data/

# extensions
*.asv
*.zip
*.bag
!eval_notebook/eval_res.zip
